body{
    margin:0px;
    background-color: darkslategray;
    color:white;
}
#heading{
    background-color: black;
    width:100%;
    height:70px;
    text-align: center;
}
#content{
    width:60%;
    min-width: 450px;
    min-height:40px;
    background-color: darkgrey;
    margin:10px auto;
    border:1px solid black;
    border-radius:20px;
    color:black;
    font-size:20px;
    padding:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#contentText{
    word-spacing: 8px;
}

#typingarea{
    margin:30px auto;
    margin-bottom: 0px;
    width:60%;
    min-width: 450px;
    height:50px;
}
#typespace{
    width:60%;
    min-width: 350px;
    height:40px;
    margin:0px 20px;
    border-radius:10px;
    border:1px solid black;
    font-size:20px;
}

#timer{
    background-color: white;
    border:1px solid black;
    border-radius:10px;
    height:38px;
    width:60px;
    position:absolute;
    font-size:1.5em;
    color:gray;
}

#replay{
    margin:10px 45%;
    width:80px;
    height:40px;
    border:1px solid black;
    border-radius:10px;
    background-color: black;
}

#replay:hover{
    box-shadow: 0px 0px 7px gray;
    background-color: rgb(34, 33, 33);
}

.shows{
    background-color: chocolate;
}
#scoreboard{
    font-size:1.3em;
    margin:10px 30px;
    font-weight:900;
}
